In [1]:
# Add 1 to each number of this list & create new list
numbers=[1,2,3]

In [2]:
# For loop method:
new_list=[]
for n in numbers:
    add_1=n+1
    new_list.append(add_1)
print(new_list)

[2, 3, 4]

In [3]:
# List Comprehension method:
new_list=[n+1 for n in numbers]
print(new_list)

[2, 3, 4]

In [4]:
# String Comprehension
name="Akshita"
letter_list=[letter for letter in name]
print(letter_list)   #extracts each letter from the string

['A', 'k', 's', 'h', 'i', 't', 'a']

In [5]:
new_range=[item*2 for item in range(1,5)]
print(new_range)

[2, 4, 6, 8]

In [8]:
names=["Akshita","Shaktee","Ritesh","Saanvi"]

In [9]:
short_names=[name for name in names if len(name)<7]
print(short_names)

['Ritesh', 'Saanvi']

In [13]:
big_names=[name.upper() for name in names if len(name)>6]
print(big_names)

['AKSHITA', 'SHAKTEE']

In [ ]:
list_of_strings = ['9', '0', '32', '8', '2', '8', '64', '29', '42', '99']
numbers = [int(n) for n in list_of_strings]
result = [n for n in numbers if n%2==0]
print(result)

In [ ]:
with open('file1.txt') as f1:
    data1 = [int(line.strip()) for line in f1]
with open('file2.txt') as f2:
    data2 = [int(line.strip()) for line in f2]
result = [n for n in data1 if n in data2]

print(result)

DICTIONARY COMPREHENSION:

In [14]:
import random
names=["Akshita","Shaktee","Ritesh","Saanvi"]
# i want dict {name:score}
random_scores={name:random.randint(1,100) for name in names}
print(random_scores)

{'Akshita': 86, 'Shaktee': 8, 'Ritesh': 23, 'Saanvi': 77}

In [15]:
passed_students={name:score for (name,score) in random_scores.items() if score>=60}
print(passed_students)

{'Akshita': 86, 'Saanvi': 77}

In [ ]:
sentence = "What is the Airspeed Velocity of an Unladen Swallow?"
words=sentence.split()
result = {word:len(word) for word in words}
print(result)

In [ ]:
weather_c = {"Monday": 12, "Tuesday": 14, "Wednesday": 15, "Thursday": 14, "Friday": 21, "Saturday": 22, "Sunday": 24}

weather_f = {day:(cel*9/5)+32 for (day,cel) in weather_c.items()}

print(weather_f)

In [16]:
# Looping thru a dictionary:
student_dict={'Akshita': 86, 'Shaktee': 8, 'Ritesh': 23, 'Saanvi': 77}
for (key,val) in student_dict.items():
    print(key,val)

Akshita 86
Shaktee 8
Ritesh 23
Saanvi 77

In [19]:
# Looping thru a pandas dataframe:
import pandas
student_dict={'Akshita': 86, 'Shaktee': 8, 'Ritesh': 23, 'Saanvi': 77}
df=pandas.DataFrame(student_dict.items())
print(df)

         0   1
0  Akshita  86
1  Shaktee   8
2   Ritesh  23
3   Saanvi  77

In [26]:
# wrong method:
for (key,val) in df.items():
    # print(key)
    print(val)

0    Akshita
1         86
Name: 0, dtype: object
0    Shaktee
1          8
Name: 1, dtype: object
0    Ritesh
1        23
Name: 2, dtype: object
0    Saanvi
1        77
Name: 3, dtype: object

In [30]:
# correct method:
for (index,row) in df.iterrows():
    # print(index)
    # print(row)
    if row.name=="Akshita":
        print(row)